<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>i_class</key>
	<array>
		<dict>
			<key>class_name</key>
			<string>收入</string>
			<key>class_id</key>
			<string>200</string>
			<key>amount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>class_name</key>
			<string>工资收入</string>
			<key>class_id</key>
			<string>200100</string>
			<key>amount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>class_name</key>
			<string>奖金收入</string>
			<key>class_id</key>
			<string>200101</string>
			<key>amount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>class_name</key>
			<string>投资收入</string>
			<key>class_id</key>
			<string>200102</string>
			<key>amount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>class_name</key>
			<string>兼职收入</string>
			<key>class_id</key>
			<string>200103</string>
			<key>amount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>class_name</key>
			<string>礼金收入</string>
			<key>class_id</key>
			<string>200104</string>
			<key>amount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>class_name</key>
			<string>中奖收入</string>
			<key>class_id</key>
			<string>200105</string>
			<key>amount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>class_name</key>
			<string>父母奖励</string>
			<key>class_id</key>
			<string>200106</string>
			<key>amount</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>e_class</key>
	<array>
		<dict>
			<key>class_name</key>
			<string>支出</string>
			<key>class_id</key>
			<string>100</string>
			<key>amount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>class_name</key>
			<string>衣服首饰</string>
			<key>class_id</key>
			<string>100100</string>
			<key>amount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>class_name</key>
			<string>食品酒水</string>
			<key>class_id</key>
			<string>100101</string>
			<key>amount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>class_name</key>
			<string>居家物业</string>
			<key>class_id</key>
			<string>100102</string>
			<key>amount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>class_name</key>
			<string>行车交通</string>
			<key>class_id</key>
			<string>100103</string>
			<key>amount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>class_name</key>
			<string>交流通讯</string>
			<key>class_id</key>
			<string>100104</string>
			<key>amount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>class_name</key>
			<string>休闲娱乐</string>
			<key>class_id</key>
			<string>100105</string>
			<key>amount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>class_name</key>
			<string>其他杂项</string>
			<key>class_id</key>
			<string>100106</string>
			<key>amount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>class_name</key>
			<string>衣服鞋子</string>
			<key>class_id</key>
			<string>100100100</string>
			<key>amount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>class_name</key>
			<string>鞋帽包包</string>
			<key>class_id</key>
			<string>100100101</string>
			<key>amount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>class_name</key>
			<string>早午晚餐</string>
			<key>class_id</key>
			<string>100101100</string>
			<key>amount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>class_name</key>
			<string>烟酒茶</string>
			<key>class_id</key>
			<string>100101101</string>
			<key>amount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>class_name</key>
			<string>零食小吃</string>
			<key>class_id</key>
			<string>100101102</string>
			<key>amount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>class_name</key>
			<string>咖啡饮料</string>
			<key>class_id</key>
			<string>100101103</string>
			<key>amount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>class_name</key>
			<string>日常用品</string>
			<key>class_id</key>
			<string>100102100</string>
			<key>amount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>class_name</key>
			<string>房租物业水电煤气</string>
			<key>class_id</key>
			<string>100102101</string>
			<key>amount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>class_name</key>
			<string>房屋贷款</string>
			<key>class_id</key>
			<string>100102103</string>
			<key>amount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>class_name</key>
			<string>公共交通</string>
			<key>class_id</key>
			<string>100103100</string>
			<key>amount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>class_name</key>
			<string>爱车维修</string>
			<key>class_id</key>
			<string>100103101</string>
			<key>amount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>class_name</key>
			<string>邮费过路费</string>
			<key>class_id</key>
			<string>100103102</string>
			<key>amount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>class_name</key>
			<string>话费</string>
			<key>class_id</key>
			<string>100104100</string>
			<key>amount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>class_name</key>
			<string>网费</string>
			<key>class_id</key>
			<string>100104101</string>
			<key>amount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>class_name</key>
			<string>请客吃饭</string>
			<key>class_id</key>
			<string>100105100</string>
			<key>amount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>class_name</key>
			<string>休闲玩乐</string>
			<key>class_id</key>
			<string>100105101</string>
			<key>amount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>class_name</key>
			<string>旅游度假</string>
			<key>class_id</key>
			<string>100105102</string>
			<key>amount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>class_name</key>
			<string>医疗保健</string>
			<key>class_id</key>
			<string>100106100</string>
			<key>amount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>class_name</key>
			<string>送礼请客</string>
			<key>class_id</key>
			<string>100106101</string>
			<key>amount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>class_name</key>
			<string>孝敬长辈</string>
			<key>class_id</key>
			<string>100106102</string>
			<key>amount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>class_name</key>
			<string>投资亏损</string>
			<key>class_id</key>
			<string>100106103</string>
			<key>amount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>class_name</key>
			<string>意外丢失</string>
			<key>class_id</key>
			<string>100106104</string>
			<key>amount</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>account</key>
	<array>
		<dict>
			<key>name</key>
			<string>公交卡</string>
			<key>amount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>支付宝</string>
			<key>amount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>微信钱包</string>
			<key>amount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>银行卡</string>
			<key>amount</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>现金</string>
			<key>amount</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
